@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.container {
  background-color: rgba(252, 252, 252, 0.39);
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-sizing: border-box;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 -1px 6.5px 5.5px #dddddd;
  -moz-box-shadow: 0 -1px 6.5px 5.5px #dddddd;
  box-shadow: 0 -1px 6.5px 5.5px #00000025;
}

.date {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 15px;
  border-bottom: 1px solid;
  width: 100%;
  box-sizing: border-box;
}

.title {
  margin: 25px;
}

.add-btn {
  background-color: rgb(193, 146, 255);
  border-radius: 30px;
  padding: 15px;
  display: flex;
  position: absolute;
  bottom: -25px;
  left: 43%;
  transition: 0.2s;
  cursor: pointer;
}

.add-btn:hover {
  filter: brightness(90%);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.add-item {
  margin-bottom: 50px;
}

.text-item {
  font-size: 20px;
  background: none;
  border-style: none;
  outline-style: none;
  text-align: center;
  margin-top: 15px;
}

#checklist {
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(#414856, 0.05);
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  margin: 0 80px;
  label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    font-size: 20px;
    word-wrap: break-word;
    word-break: break-word;
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      height: 2px;
      width: 8px;
      left: -27px;
      background: var(--check);
      border-radius: 2px;
      transition: background 0.3s ease;
    }
    &:after {
      height: 4px;
      width: 4px;
      top: 8px;
      left: -25px;
      border-radius: 50%;
    }
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      top: auto;
      background: var(--check);
      border-radius: 2px;
    }
    &::before {
      width: 0px;
      right: 60%;
      transform-origin: right bottom;
    }
    &::after {
      width: 0px;
      left: 40%;
      transform-origin: left bottom;
    }
    &:checked {
      &::before {
        animation: check-01 0.4s ease forwards;
      }
      &::after {
        animation: check-02 0.4s ease forwards;
      }
      + label {
        color: var(--disabled);
        animation: move 0.3s ease 0.1s forwards;
        &::before {
          background: var(--disabled);
          animation: slice 0.4s ease forwards;
        }
        &::after {
          animation: firework 0.5s ease forwards 0.1s;
        }
      }
    }
  }
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}
